body {
    overflow: hidden;
    background: red;
    margin: 0px;
    padding: 0px;
    height: 240px;
    width: 320px;
}

#content {
    background: url(../img/ruler_background.gif);
    width: 320px;
    height: 240px;
    margin: 0px;
    padding: 0px;
}