body {
    overflow: hidden;
    background: #aaa url(../img/rainbow_background2.png) no-repeat;
}
body, #content, .layer, #flash, table.menu {
    width: 320px;
    height: 240px;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
	font-family: "Sketch Block", "Tresbuchet MS", sans-serif;
	font-weight: bold;
}
#content, .layer {
	position:absolute;
	top: 0;
	left: 0;
}
#content{ z-index: 1;  }
#layer1 { z-index: 10; }
#layer2 { z-index: 20; }
#layer3 { z-index: 30; }
#layer4 { z-index: 40; }
#debug_layer { z-index: 10000; }
#flash {
    background-color: white;
    display: none;
}
#countdown_foto {
    color: #6bcc70;
    font-size: 60px;
    position: absolute;
    top: 20px;
    left: 65px;
}
#countdown_time {
    color: #6bcc70;
    font-size: 120px;
    position: absolute;
    top: 80px;
    left: 125px;
}
table.menu {
	border: 1px solid black;
}
td.menu {
	text-align: center;
	width: 200px;
}
.overlay {
	width: 220px;
	padding: 10px 0 10px 0;
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
	font-color: black;
}
#overlay_menu {
	margin: 180px 20px 10px 120px;
	height: 30px;
	width: 180px;
}
#overlay_all_pics_options {
	margin: 160px 50px 10px 50px;
	height: 55px;
	display: none;
}

#overlay_print {
	margin: 100px 40px 10px 80px;
	height: 80px;
}

td.pic_options_menu_icon {
	padding: 0px 5px 0px 10px;
}
td.all_pics_preview, img.all_pics_preview, tr.all_pics_preview {
    height: 106px;
}
td.all_pics_preview, img.all_pics_preview {
    width: 160px;
}
#photobooth_logo {
	margin: 2px 0px 0px 35px;
}
